<section class="content-section" aria-labelledby="activities-heading">
  <h1 id="activities-heading" class="section-heading">{{ t.activities }}</h1>
  <p>{{ t.activities_intro }}</p>

  <section class="activity-section" aria-labelledby="organized-heading">
    <h2 id="organized-heading">{{ t.organized }}</h2>
    {% for item in site.data.activities.organized %}
      <p>{{ item.time[page.lang] }}. {{ item.name[page.lang] }}. {{ item.location[page.lang] }}.</p>
    {% endfor %}
  </section>

  <section class="activity-section" aria-labelledby="talks-heading">
    <h2 id="talks-heading">{{ t.talks }}</h2>
    {% for item in site.data.activities.talks %}
      <p>{{ item.time[page.lang] }}. {{ item.name[page.lang] }}. {{ item.location[page.lang] }}.</p>
    {% endfor %}
  </section>

  <section class="activity-section" aria-labelledby="visits-heading">
    <h2 id="visits-heading">{{ t.visits }}</h2>
    {% for item in site.data.activities.visits %}
      <p>{{ item.time[page.lang] }}. {{ item.location[page.lang] }}. {{ t.hosted_by }} {{ item.host[page.lang] }}.</p>
    {% endfor %}
  </section>
</section>
