<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {% if page.lang == 'zh-CN' %}{{ site.title_zh }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/assets/libs/bootstrap/bootstrap.min.css' | relative_url }}">
  <script defer src="{{ '/assets/libs/fontawesome/all.min.js' | relative_url }}"></script>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/libs/Pic1.png' | relative_url }}" type="image/png">
  <link rel="shortcut icon" href="{{ '/assets/libs/Pic1.ico' | relative_url }}" type="image/x-icon">
  {% if page.alternate_url %}
    {% if page.lang == 'zh-CN' %}
      <link rel="alternate" hreflang="en" href="{{ page.alternate_url | absolute_url }}">
      <link rel="alternate" hreflang="zh-CN" href="{{ page.url | absolute_url }}">
    {% else %}
      <link rel="alternate" hreflang="en" href="{{ page.url | absolute_url }}">
      <link rel="alternate" hreflang="zh-CN" href="{{ page.alternate_url | absolute_url }}">
    {% endif %}
  {% endif %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
