---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    {% if page.lang == 'zh-CN' %}
      {% assign education = site.data.cv_zh.education %}
      {% assign experience = site.data.cv_zh.academic-experience %}
    {% else %}
      {% assign education = site.data.cv.education %}
      {% assign experience = site.data.cv.academic-experience %}
    {% endif %}
    <h3 class="fw-bold border-bottom pb-3 mb-5">{% if page.lang == 'zh-CN' %}简历{% else %}CV{% endif %}</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>{% if page.lang == 'zh-CN' %}教育经历{% else %}Education{% endif %}</h4>
      </div>
      <div class="col-md-10">
        {% for section in education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>{% if page.lang == 'zh-CN' %}学术任职{% else %}Academic Employment{% endif %}</h4>
      </div>
      <div class="col-md-10">
        {% for section in experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
